body
{
	background-color: #111;
	cursor: default;
	-webkit-user-select: none;
}

.title
{
	-webkit-app-region: drag;
	text-align: center;
	font-family: "Futura", sans-serif;
	color: #fff;
	background-color: #333;
}

.bottomButton {
	background-color:#44c767;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:0px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:15px 15px;
	text-decoration:none;
	position:fixed;
	bottom:-11;
	right:-11;
}

.bottomButton:hover {
	background-color:#5cbf2a;
}

.bottomButton:active {
	background-color:#55d877;
}

