body
{
	/*background-color: #111;*/
	cursor: default;
	-webkit-user-select: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

.topBox
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	left: 0;
	height: 50;
	-webkit-app-region: drag;
}

.topBox h1
{
	text-align: center;
	font-family: "Futura", sans-serif;
	color: #fff;
}

#clocks
{
	top: 0px;
	margin-top: 0px;
	padding-top: 65px;
	padding-bottom: 50px;
	overflow-y: scroll;
	height: 100%;
}

#clocks > div
{
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: space-between;
	margin-left: 5%;
	height: 88px;
	overflow: hidden;
}

#clocks div *:not(canvas)
{
	margin: 3px
}

#clocks p
{
	flex-grow: 2;
}

.clockText
{
	text-align: center;
}

#clocks * .clockSettings
{
	display: none;
}

#clocks .input.clockSettings
{
	width: 25%;
}

#bottomGroup
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

#bottomGroup .input
{
	width: 15%;
}

#bottomGroup .input input
{
	text-align: center;
}
