body
{
	/*background-color: #111;*/
	cursor: default;
	-webkit-user-select: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
{ 
  -webkit-appearance: none; 
  margin: 0; 
}

.topBox
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	left: 0;
	height: 50;
	-webkit-app-region: drag;
}

.topBox h1
{
	text-align: center;
	font-family: "Futura", sans-serif;
	color: #fff;
}

#clocks
{
	top: 0px;
	margin-top: 0px;
	padding-top: 65px;
	padding-bottom: 50px;
	overflow-y: scroll;
	height: 100%;
}

#clocks div div
{
	display: flex;
	align-items: center;
	padding: 5px;
}

#clocks div div canvas,p
{
	margin: 5px;
}

.time
{
	margin: 0;
	padding: 0;
	width: 100px;
}

.time input
{
	margin: 0;
	padding: 0;
}

#bottomGroup
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
